.City_search_bar .City_Empty_search .City_empty {
  position: absolute;
  top: 2.853333rem;
  width: 100%;
  text-align: center;
  left: 0;
}
.City_search_bar .City_Empty_search .City_empty img {
  width: 2.4rem;
  margin: auto;
}
.City_search_bar .City_Empty_search .City_empty p {
  color: #bdc0c5;
  font-size: 0.373333rem;
  margin: 0;
}
